* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 19, 19);
}

.menu {
    position: absolute;
    width: 20%;
    height: 50%;
    margin-top: 0px;
    display: flex;
    border-radius: 10px;
    border: 2px solid rgb(234, 234, 40);
}

.menu img {
    width: 15px;
    margin: 10px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.menu-categorias {
    color: white;
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    margin-left: 10px;
    bottom: 80px;
    cursor: pointer;
}

.menu h4 {
    position: relative;
    margin-left: 40px;
    left: -5px;
    bottom: 80px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu-conteudo h5 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    position: relative;
    bottom: 90px;
    margin-left: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu-categorias h6:active {
    border: 1px solid transparent;
}

.logo {
    width: 96%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(34, 19, 19);
    border: 1px solid rgb(234, 234, 40);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.logo img {
    width: 400px;
    background-color: transparent;

    border-radius: 10px;
}

.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(234, 234, 40);
    overflow: auto;
}

.scroll {
    display: flex;
    max-width: 730px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.cards img {
    width: 120px;
    height: 100px;
}
.cards img:hover {
    padding: 10px;
}

.cards span {
    color: white;
    display: flex;
    align-items: center;
    text-shadow: 0px 0px 15px black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 20px;
    width: 350px;
    height: 100px;
    border-radius: 10px;
}

.raio {
    background-color: yellow;
}

.fogo {
    background-color: rgb(230, 62, 62);
}

.natureza {
    background-color: green;
}

.agua {
    background-color: blue;
}

.terra {
    background-color: rgb(112, 33, 33);
}

.pokebola img {
    width: 100px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-right: 200px;
}

.botoes button {
    margin-right: 10px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    background-color: red;
    border: 0;
}
.botoes button:active {
    padding: 10px;
}
